.centerPanel {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.searchInput {
  font-size: 16px;
  font-weight: 700;
  color: #262a2b;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.checkCORS {
  transform: scale(1.5);
  margin: 20px 20px 0 0;
}
.labelChecker {
  font-size: 14px;
  font-weight: 700;
  color: pink;
}
.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tilesWrap li {
  min-width: 400px;
  max-width: 430px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 50px;
  font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 68px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 20px;
  color: #b7b7b7;
  margin-bottom: 5px;
}
.tilesWrap li div {
  font-size: 16px;
  line-height: 18px;
  color: #b7b7b7;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tilesWrap li a {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;

  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
}
.tilesWrap li a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover a {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li a:hover {
  color: #262a2b;
}
.tilesWrap li a:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}

.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}

.tilesWrap li:before {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
}

/* spinner loader */

.lds-hourglass {
  display: inline-block;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 23%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* button */
.fancyButton {
  font-size: 16px;
  font-weight: 700;
  color: pink;
  transition: all 0.5s;
  position: relative;
  background-color: transparent;
  width: 170px;
  height: 30px;
  border-radius: 10px;
}
.fancyButton:hover {
  cursor: pointer;
}
.fancyButton span {
  z-index: 2;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
.fancyButton::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}
.fancyButton::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}
.fancyButton:hover::before {
  transform: translate(-35px);
  background-color: rgba(255, 255, 255, 0);
}
.fancyButton:hover::after {
  transform: translate(35px);
  background-color: rgba(255, 255, 255, 0);
}
.buttonLabel {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  align-items: center;
}
.optionsWrapper {
  margin: 60px auto 0 auto;
  width: fit-content;
}
.infoText {
  position: absolute;
  left: 60%;
  top: 60px;
  color: pink;
  border: 2px solid pink;
  height: fit-content;
  width: 175px;
  padding: 5px;
}

/* reload icon */
.refresh.icon {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
}

.refresh.icon:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 10px;
  width: 3px;
  height: 3px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-22.5deg);
  transform: rotate(-22.5deg);
}

.refresh_button {
  position: absolute;
  left: 30px;
  top: 20px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid pink;
  padding: 5px;
}

.refresh_button:hover{
  background-color: pink;
}

.refresh_button:hover .labelRefresh{
  color: #262a2b;
}

.refresh_button:hover .refresh.icon{
  color: #262a2b;
}

.labelRefresh {
  color:white;
  margin-left: 25px;
}