/* You can add global styles to this file, and also import other style files */
body {
    background: #262a2b;
}

a {
    color: pink;
}

a:visited {
    color: red;
}

img {
    max-width: 480px;
}

figure {
    margin: 0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}